@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/Images/Logo - icon.ico">
    <title>ConeXion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <link rel="stylesheet" type="text/css" href="~/css/login_register.css">
    <title>ConeXion</title>

</head>

<body class="bg">
    <div class="form-container">
        <div class="form-box">
            <div class="form-side login" action="#">
                <form id="account" method="post">
                    <h1 class="major">REGISTRATION</h1>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-field">
                        <label asp-for="@Model.UserName" class="field half">Username</label>
                        <input class="form-control @((ViewData.ModelState["UserName"]?.Errors.Any() ?? false) ? "text-danger" : "")"
                               autocomplete="username"
                               aria-required="true"
                               asp-for="@Model.UserName" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-field">
                        <label asp-for="@Model.Email" class="field half">Email</label>
                        <input class="form-control @((ViewData.ModelState["Email"]?.Errors.Any() ?? false) ? "text-danger" : "")"
                               autocomplete="username"
                               aria-required="true"
                               asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>

                    <div class="form-field">
                        <label asp-for="@Model.Password" class="field half">Password</label>
                        <input class="form-control @((ViewData.ModelState["Password"]?.Errors.Any() ?? false) ? "text-danger" : "")"
                               type="password"
                               autocomplete="new-password"
                               aria-required="true"
                               asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="form-field">
                        <label asp-for="@Model.ConfirmPassword" class="field half">Confirm Password</label>
                        <input class="form-control @((ViewData.ModelState["ConfirmPassword"]?.Errors.Any() ?? false) ? "text-danger" : "")"
                               type="password"
                               autocomplete="new-password"
                               aria-required="true"
                               asp-for="@Model.ConfirmPassword" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="field half">
                        <button id="registerSubmit" type="submit" class="primary">Register</button>
                    </div>
                    <div>
                        <p style="font-size: 10px;">
                            Already have an account?
                            <span>
                                <a href="/User/Login" id="flip-register" class="flip-button" style="font-size: 10px;">Log in</a>
                            </span>
                            <br>
                            <span>
                                <a href="@Url.Action("Index", "Home")" style="font-size: 8px; text-align: center; display: block; margin: 12px auto;">- Back to main -</a>
                            </span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="bg"></div>
</body>
